.traffic-light {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 4rem;
  gap: 1rem;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.red,
.yellow,
.green {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.red {
  background-color: red;

  &.active {
    box-shadow: 0 0 10px 5px red;
  }
}

.yellow {
  background-color: yellow;

  &.active {
    box-shadow: 0 0 10px 5px yellow;
  }
}

.green {
  background-color: green;
  
  &.active {
    box-shadow: 0 0 10px 5px green;
  }
}
