<div class="traffic-container">
  <div class="vertical-container">
    <app-traffic-light
      [isHorizontal]="false"
      [lightColor]="verticalLightColor"
      [additionalClasses]="'column'"
    ></app-traffic-light>
  </div>

  <div class="horizontal-container">
    <app-traffic-light
      [isHorizontal]="true"
      [lightColor]="horizontalLightColor"
      [additionalClasses]="'row-reverse'"
    ></app-traffic-light>

    <div class="button-container">
      <button
        class="btn"
        (click)="handleEmergency()"
        [disabled]="emergencyMode"
      >
        Авария
      </button>
    </div>

    <app-traffic-light
      [isHorizontal]="true"
      [lightColor]="horizontalLightColor"
      [additionalClasses]="'row'"
    ></app-traffic-light>
  </div>

  <div class="vertical-container">
    <app-traffic-light
      [isHorizontal]="false"
      [lightColor]="verticalLightColor"
      [additionalClasses]="'column-reverse'"
    ></app-traffic-light>
  </div>
</div>
