<div class="traffic-container">
  <div class="vertical-container">
    <app-traffic-light
      [isHorizontal]="false"
      [lightColor]="verticalLightColor"
    ></app-traffic-light>
  </div>

  <div class="horizontal-container">
    <app-traffic-light
      [isHorizontal]="true"
      [lightColor]="horizontalLightColor"
    ></app-traffic-light>
    <app-traffic-light
      [isHorizontal]="true"
      [lightColor]="horizontalLightColor"
    ></app-traffic-light>
  </div>

  <div class="vertical-container">
    <app-traffic-light
      [isHorizontal]="false"
      [lightColor]="verticalLightColor"
    ></app-traffic-light>
  </div>
</div>
