.traffic-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  .btn {
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: red;
      color: white;
    }

    &:disabled {
      background-color: lightgray;
      border-color: darkgray;
      color: darkgray;
      cursor: not-allowed;
    }
  }
}
